/* Page Date On Cornner */
.connerdiv{
    position: absolute;
    right: 00px;
    top: 60px;  
  }
  @page{
    size: A4;  
    margin: 10mm;
  
  }
  .A4Page{
   position: relative;
   page-break-before: always;
    page-break-inside: avoid;
    width: 100%;
    max-width: 210mm;
    height: 279mm;
    margin:0 auto;  
    background-color: #fff;
    overflow-wrap: break-word;
    position: relative;
  }
  .A4Page .pageHeader{
    padding:0 0;
    margin:0 auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .A4Page .pageBody{
    padding:0 0;
    margin:0 auto;
  }
  /* Print Page A4 End*/